<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-12 mb-lg-1" src="img/cv.jpg" alt="">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-13 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-lower">Présentation générale</span>
                        </h2>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 mx-auto">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">Mes coordonnées</span>
                                </h2>
                                <p>POYEN Alexis<br/>
                                    <em>Adresse :</em> 82 rue du 1er mars 1943<br/>
                                    69100 Villeurbanne<br/>
                                    <em>Téléphone :</em> 06 - 25 - 87 - 37 - 87<br/>
                                    <em>Adresse mail :</em> poyen.alexis.info@gmail.com<br/>
                                    18 février 1997, célibataire
                                </p>
                            </div>
                            <div class="col-xl-6 col-lg-6 mx-auto">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">Mes objectifs</span>
                                </h2>
                                <p>Mon objectif à long terme est de devenir architecte des Systèmes d'Informations.
                                    Je souhaite aussi bien travailler dans le monde du développement, dans la conception ou plus
                                    opérationnel du côté infrastructure
                                    Tout en ayant une préférence pour travailler dans le monde de l'Open Source</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>